<sql-form [data]="formData" 
    [card]="'Y'" 
    [title]="'Demo Form'"
    [bs_row]="'Y'" 
    [bs_col]="'col-xl-6'"
    (change)="loopBack($event)">
      <sql-input  
          [top_label]="'Y'"
          [bs_row]="'Y'"
          [bs_col]="'col-xl-4 col-lg-6 col-sm-12'"
          [appearance]="'outline'" 
          [col]="'section_id'"
          [label]="'Section ID'"
          [style]="'width: 400px;'" 
          [data]="formData"></sql-input>
      <sql-input  
          [bs_row]="'Y'"
          [bs_col]="'col-xl-4 col-lg-6 col-sm-12'"      
          [appearance]="'fill'" 
          [col]="'parent_id'"
          [label]="'Parent ID'"
          [style]="'width: 100px;'" 
          [data]="formData"></sql-input>
      <sql-input  
          [bs_row]="'Y'"
          [bs_col]="'col-xl-4 col-lg-6 col-sm-12'"      
          [appearance]="'fill'" 
          [col]="'option_text'"
          [label]="'Option Text'"
          [style]="'width: 700px;'" 
          [data]="formData"></sql-input>
      <sql-select  
          [bs_row]="'Y'"
          [bs_col]="'col-xl-4 col-lg-6 col-sm-12'"      
          [handler]="'sql'" 
          [sql]="'select id, template_name from psp_template order by template_name'"
          [col]="'template_id'"
          [label]="'Template ID'"
          [style]="'width: 700px;'" 
          [data]="formData"></sql-select>
      <sql-radio-group  
          [bs_row]="'Y'"
          [bs_col]="'col-xl-4 col-lg-6 col-sm-12'"      
          [handler]="'sql'" 
          [sql]="'select id, template_name from psp_template order by template_name'"
          [col]="'template_id'"
          [label]="'Template ID'"
          [style]="'width: 700px;'" 
          [data]="formData"></sql-radio-group>          
      <sql-textarea
          [rows]="'5'"
          [maxrows]="'10'"
          [top_label]="'Y'"
          [bs_row]="'Y'"
          [bs_col]="'col-xl-4 col-lg-6 col-sm-12'"
          [appearance]="'outline'" 
          [col]="'section_id'"
          [label]="'Section ID'"
          [style]="'width: 400px;'" 
          [data]="formData"></sql-textarea>

  <div class="row">
    <div class="col-6">
      <sql-submit 
          [class]="'btn btn-primary'"
          [style]="'width: 200px;'" 
          [data]="formData"></sql-submit>
    </div>
  </div>

</sql-form> 