<!-- it is not a card-->
{{ data.template_id }}
<div *ngIf="card=='N'">
    <!-- bs_row == 'Y' -->
    <div *ngIf="bs_row=='Y'" class="row">
        <div [class]="bs_col">
            <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
        </div>
    </div>
    <!-- bs_row == 'N' and bs_col exists -->
    <div *ngIf="bs_row!='Y'&&bs_col!=''">
        <div [class]="bs_col">
            <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
        </div>
    </div>
    <!-- bs_row == 'N' and bs_col exists -->
    <div *ngIf="bs_row!='Y'&&bs_col==''">
            <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
    </div>
</div>

<!-- it is a card -->
<div *ngIf="card=='Y'">
    <div *ngIf="bs_row=='Y'" class="row">
        <div [class]="bs_col">
            <div class="card">
                <div class="card-header">
                    <h2>{{ title }}</h2>
                </div>
                <div class="card-body">
                    <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="bs_row!='Y'&&bs_col!=''">
        <div [class]="bs_col">
            <div class="card">
                <div class="card-header p-2">
                    <h2>{{ title }}</h2>
                </div>
                <div class="card-body">
                    <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
                </div>
            </div>
        </div>
    </div>    
    <div *ngIf="bs_row!='Y'&&bs_col==''">
            <div class="card">
                <div class="card-header">
                    <h2 p-2>{{ title }}</h2>
                </div>
                <div class="card-body">
                    <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
                </div>
            </div>
    </div>    
</div>

<ng-template #contentTmpl>
    <ng-content></ng-content>
</ng-template>

